@page
@model IndexModel
@using Humanizer
@{
	ViewData["Title"] = "Index";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

@foreach (var blogPost in Model.BlogPosts)
{
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div id="postlist">
				<div class="panel">
					<div class="panel-heading">
						<div class="text-center">
							<div class="row">
								<div class="col-sm-9">
									<h1 class="pull-left">@blogPost.Title</h1>
								</div>
								<div class="col-sm-3">
									<h4 class="pull-right">
										<small><em>Post Published: @blogPost.PublishedAt.Humanize()</em></small>
									</h4>
								</div>
							</div>
						</div>
					</div>

					<div class="panel-body">
						<a href="#" class="thumbnail">
							<img alt="Image" src="http://i.imgur.com/tAHVmXi.jpg">
						</a>
						@blogPost.Body 
					</div>

					<div class="panel-footer">
						@if (blogPost.Tags == null)
						{
							<span class="label label-default">This Blogpost has no Tags </span>
						}
						else
						{
							@foreach (var tag in blogPost.Tags)
							{
								<span class="label label-default">@tag.Name</span>
							}
						}
					</div>
				</div>
			</div>
			<div class="text-center"><a asp-page="./IndividualBlogPost" asp-route-id="@blogPost.Id"> Read More</a></div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3">
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
}

@foreach (var blogPost in Model.BlogPosts)
{
	<br>
	<div class="comment-container">
		@if (blogPost.Comments == null)
		{
			<div>
				<p>This blog post has no comments</p>
			</div>
		}
		else
		{
			@foreach (var comment in blogPost.Comments)
			{
				<div style="text-align: left">
					<hr />
					<p>@comment.Body</p>
					<small>@comment.PublishedAt</small>
				</div>
			}
		}
	</div>
}

@{
	var prevDisabled = !Model.BlogPosts.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.BlogPosts.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.BlogPosts.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
	Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.BlogPosts.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
	Next
</a>

