@page
@model IndexModel
@{
	ViewData["Title"] = "Index";
}


<form>
	<p>
		Title: <input type="text" asp-for="SearchString" />
		<input type="submit" value="Search" />
		<a asp-page="./Index">Back to full List</a>
	</p>
</form>

@foreach (var blogPost in Model.BlogPosts)
{

	<div>
		<h1>
			<a asp-page="./IndividualBlogPost" asp-route-id="@blogPost.Id">@blogPost.Title</a>
		</h1>
		<div>This post was published on: @blogPost.PublishedAt</div>
		<div>@blogPost.Body</div>

		<div>
			@if (blogPost.Tags == null)
			{
				<div>
					<p>This blog post has no tags</p>
				</div>
			}
			else
			{
				@foreach (var tag in blogPost.Tags)
				{
					<a class="badge badge-primary"
					   asp-page="./IndividualBlogPost"
					   asp-route-blogPostId="@tag.BlogPostId">
						@tag.Name
					</a>
				}
			}

		</div>
	</div>
	<br>
}
@{
	var prevDisabled = !Model.BlogPosts.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.BlogPosts.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.BlogPosts.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
	Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.BlogPosts.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
	Next
</a>

