@page
@model IndexModel
@{
	ViewData["Title"] = "Index";
}

	<form asp-page="./Index" method="get">
		<div class="form-actions no-color">
			<p>
				Find by name:
				<input type="text" name="SearchString" value="@Model.CurrentFilter" />
				<input type="submit" value="Search" class="btn btn-primary" /> |
				<a asp-page="./Index">Back to full List</a>
			</p>
		</div>
	</form>

@foreach (var blogPost in Model.AccessTags)
{

	<div>
		<h1>
			<a asp-page="./IndividualBlogPost" asp-route-id="@blogPost.Id">@blogPost.Title</a>
		</h1>
		<div>This post was published on: @blogPost.PublishedAt</div>
		<div>@blogPost.Body</div>

		<div>
			@if (blogPost.Tags == null)
			{
				<div>
					<p>This blog post has no tags</p>
				</div>
			}
			else
			{
				@foreach (var tag in blogPost.Tags)
				{
					<a class="badge badge-primary"
					   asp-page="./IndividualBlogPost"
					   asp-route-blogPostId="@tag.BlogPostId">
						@tag.Name
					</a>
				}
			}
		</div>
	</div>
	<br>

}

@{
	var prevDisabled = !Model.PageBlogPosts.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.PageBlogPosts.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.PageBlogPosts.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
	Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.PageBlogPosts.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
	Next
</a>
