@page

@model ZoesBlog.Pages.IndividualBlogPostModel
@using Humanizer
@using HeyRed.MarkdownSharp
@{
	ViewData["Title"] = "BlogPost";
}
<p>
	<div>
		<h1>@Model.BlogPost.Title</h1>
		<div>Published: @Model.BlogPost.PublishedAt.Humanize()</div>
		<div>Time to Read: @Model.BlogPost.TimeToRead Minutes</div>
		<br />
		<div>@Model.BlogPost.Body</div>
		<div class="panel-footer">
			@if (Model.BlogPost.Tags == null)
			{
				<span class="label label-default">This Blog Post has no Tags </span>
			}
			else
			{
				@foreach (var tag in Model.BlogPost.Tags)
				{
					<span> 
						<span><a asp-page="./TagList" asp-route-urlSlug="@tag.UrlSlug"class="label label-default">@tag.UrlSlug</a></span>
					</span>
				}
			}
		</div>
	</div>
</p>
<br />
<div class="comment-container">
	<h4>Comments:</h4>
	@if (Model.BlogPost.Comments == null)
	{
		<div>
			<p>This blog post has no comments</p>
		</div>
	}
	else
		@foreach (var comment in Model.Comments)

		{
			<div style="text-align: left">
				<hr />
				<p>@comment.Body</p>
				<small>@comment.PublishedAt</small>
			</div>
		}
</div>
<br />
<form class="justify-content-center" method="post">
	<div class="form-group">
		<label>
			Add Comment:
			<textarea rows="3" cols="80" asp-for="CommentAccess.Body" aria-describedby="usernameHelp" class="form-control" placeholder="Comment" type="text"></textarea>
		</label>
		<br />
		<button class="btn btn-primary" type="submit">Submit</button>
	</div>
	<div>
		<a asp-page="./Index">Back to Blog Posts</a>
	</div>
</form>
