@page

@model ZoesBlog.Pages.IndividualBlogPostModel
@using Humanizer
@using HeyRed.MarkdownSharp
@{
	ViewData["Title"] = "BlogPost";
	 var options = new MarkdownOptions
    {
        AutoHyperlink = true,
        AutoNewLines = true,
        LinkEmails = true,
        QuoteSingleLine = true,
        StrictBoldItalic = true
    };
    var mark = new Markdown(options);
}
	<p>
			<div style="text-align: right">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Have a look at this blog post from Zoe&#39;s Blog:" data-show-count="false">Tweet</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div>
				<h1>@Html.Raw(mark.Transform(Model.BlogPost.Title))</h1>
				<div>Published: @Model.BlogPost.PublishedAt.Humanize()</div>
				<div>Time to Read: @Model.BlogPost.TimeToRead Minutes</div>
				<br />
				<div>@Html.Raw(mark.Transform(Model.BlogPost.Body))</div>
				<div class="panel-footer">
					@if (Model.BlogPost.Tags == null)
					{
						<span class="label label-default">This Blog Post has no Tags </span>
					}
					else
					{
						@foreach (var tag in Model.BlogPost.Tags)
						{
							<span>
								<span><a asp-page="./TagList" asp-route-urlSlug="@tag.UrlSlug" class="label label-default">@tag.UrlSlug</a></span>
							</span>
						}
					}
				</div>
			</div>
	</p>
<br />
<div class="comment-container">
	<h4>Comments:</h4>
	@if (Model.BlogPost.Comments == null)
	{
		<div>
			<p>This blog post has no comments</p>
		</div>
	}
	else
		@foreach (var comment in Model.Comments)

		{
			<div style="text-align: left">
				<hr />
				<p>@comment.Body</p>
				<small>@comment.PublishedAt</small>
			</div>
		}
</div>
<br />
<form class="justify-content-center" method="post">
	<div class="form-group">
		<label>
			Add Comment:
			<textarea rows="3" cols="80" asp-for="CommentAccess.Body" aria-describedby="usernameHelp" class="form-control" placeholder="Comment" type="text"></textarea>
		</label>
		<br />
		<button class="btn btn-primary" type="submit">Submit</button>
	</div>
	<div>
		<a asp-page="./Index">Back to Blog Posts</a>
	</div>
</form>
