@page 
@model ZoesBlog.Pages.IndividualBlogPostModel
@using Humanizer
@{
	ViewData["Title"] = "BlogPost";
}

<p>
	<div>
		<h1>@Model.BlogPost.Title</h1>
		<div>@Model.BlogPost.PublishedAt.Humanize()</div>
		<div>@Model.BlogPost.Body</div>
		<div>@Model.BlogPost.Tags</div>

	</div>
</p>
<div class="comment-container">
	<h3>Comments:</h3>
	@foreach (var comment in Model.Comments)
	{
		<div style="text-align: left">
			<hr />
			<p>@comment.Body</p>
			<small>@comment.PublishedAt</small>
		</div>
	}
</div>
<form class="justify-content-center" method="post">
	<div class="form-group">
		<label>
			Add Comment:
			<textarea asp-for="CommentAccess.Body" aria-describedby="usernameHelp" class="form-control" placeholder="Comment" type="text"></textarea>
		</label>
		<br />
		<button class="btn btn-primary" type="submit">Submit</button>
	</div>
</form>
