@page
@model ZoesBlog.Areas.Private.Pages.IndexModel
@{
	Layout = "_AdminLayout";
}

<h2>Zoe's Blog Admin Page</h2>
<form>
	<p>
		Title: <input type="text" asp-for="SearchString" />
		<input type="submit" value="Search" />
		<a asp-page="./Index">Back to full List</a>
	</p>
</form>

<table class="table">
	<thead>
		<tr>
		<tr>
			<th scope="col">Blog Post Title</th>
			<th scope="col">Published At</th>
			<th scope="col">View Comments</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var blogPost in Model.BlogPosts)
		{
			<tr>
				<td>@blogPost.Title</td>
				<td>@blogPost.PublishedAt</td>
				<td>
					<a class="btn btn-lg" asp-area="Private" asp-page="./ViewComments" asp-route-id="@blogPost.Id"> <i class="fa fa-comment"></i></a>
				</td>
				<td>
					<a class="btn btn-lg" asp-area="Private" asp-page="./EditBlogPost" asp-route-id="@blogPost.Id"> <i class="fa fa-edit"></i></a>
				</td>
				<td>
					<a class="btn btn-lg" asp-area="Private" asp-page="./DeleteBlogPost" asp-route-id="@blogPost.Id"> <i class="fa fa-trash"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>

@{
	var prevDisabled = !Model.BlogPosts.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.BlogPosts.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.BlogPosts.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
	Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.BlogPosts.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
	Next
</a>
