@page
@model ZoesBlog.Areas.Private.Pages.IndexModel
@{
	Layout = "_AdminLayout";
}
<div>
	<h2>Zoe's Blog Admin Page</h2>
	<form>
		<p style="text-align: right">
			<input type="text" asp-for="SearchString" />
			<input type="submit" class="btn btn-dark" value="Search" />
			<a asp-page="./Index">Back to full List</a>
		</p>
	</form>
</div>
<table id="admin table" class="table table-dark" style=" border-radius:8px;">
	<thead>
		<tr>
		<tr>
			<th scope="col">Blog Post Title</th>
			<th scope="col">Published At</th>
			<th scope="col">View Comments</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var blogPost in Model.BlogPosts)
		{
			<tr>
				<td>@blogPost.Title</td>
				<td>@blogPost.PublishedAt</td>
				<td>
					<a class="btn btn-lg" asp-area="Private" asp-page="./ViewComments" asp-route-id="@blogPost.Id"> <i class="fa fa-comment-dots" style="color:white"></i></a>
				</td>
				<td>
					<a class="btn btn-lg" asp-area="Private" asp-page="./EditBlogPost" asp-route-id="@blogPost.Id"> <i class="fa fa-edit" style="color:white"></i></a>
				</td>
				<td>
					<a class="btn btn-lg" asp-area="Private" asp-page="./DeleteBlogPost" asp-route-id="@blogPost.Id"> <i class="fa fa-trash" style="color:white"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>

@{
	var prevDisabled = !Model.BlogPosts.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.BlogPosts.HasNextPage ? "disabled" : "";
}
<div style="text-align: center">

	<a asp-page="./Index"
	   asp-route-pageIndex="@(Model.BlogPosts.PageIndex - 1)"
	   class="btn btn-dark @prevDisabled">
		Previous
	</a>
	<a asp-page="./Index"
	   asp-route-pageIndex="@(Model.BlogPosts.PageIndex + 1)"
	   class="btn btn-dark @nextDisabled">
		Next
	</a>
</div>